* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}
html, body{
    height: 100%;
    width: 100%;
}

#page1{
    width: 100%;
    height: 100%;
    background-color: #e7bbbb;
}

#page2{
    width: 100%;
    height: 100%;
    background-color: #9f8ada;
}

#page2 img {
    height: 100%;
    width: 0%;
    object-fit: cover;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#page3{
    width: 100%;
    height: 100%;
    background-color: #e0a5b3;
}